extends layout

block content
  h1 Welcome to the login page.
  form(action="/users/login", method="POST")
    label Username: 
      input(type="text" id="userId" name="userId" value="user")
      br
      br
    label Password: 
      input(type="text" id="password" name="password" value="pass")
      br
      br
    label 
      input(type="submit" value="Submit")
