<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="stylesheets/style.css">
</head>
<nav>
  <a href="/">Home</a> |
  <a href="test">Test</a> |
  <a href="login">Login</a> |
  <a href="error">Error</a>
</nav>
<body>

<h1>Welcome to the login page.</h1>
<form action="/welcome.html", method="GET">
  <label for="username">Username:</label><br>
  <input type="text" id="username" name="username" value="user"><br>
  <label for="password">Password:</label><br>
  <input type="text" id="password" name="password" value="pass"><br><br>
  <input type="submit" value="Submit">
</form> 
</body>
</html>