extends layout

block content
  h1 Welcome to the register page.
  form(action="/users/register", method="POST")
    label
      | Username: 
      br
      input(type="text" id="username" name="username" value="user")
      br
      | Password: 
      br
      input(type="text" id="password" name="password" value="pass")
      br
      input(input type="submit" value="Submit")
