extends layout

block content
  h1 Welcome to the register page.
  form(action="/users/register", method="POST")
    label Username: 
      input(type="text" id="userId" name="userId" value="user")
    label Password: 
      input(type="text" id="password" name="password" value="pass")
    label 
      input(type="submit" value="Submit")
