body {
  background-color: #3E54D3;
  text-align: center;
  padding: 20px;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
}
h1 {
  color: #15CDCA;
  font-size: 300%;
}
h3 {
  color: #15CDCA;
  font-size: 300%;
}
p {
  color: #4F80E2;
  font-size: 200%;
}
a {
  color: #5900ff;
}
img {
  border: 20px #15CDCA;
  padding: 10px;
}
label {
  color: ;
}