body {
  background-color: #3E54D3;
  text-align: center;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
}
h1 {
  color: #15CDCA;
  font-size: 200%;
  padding: 5px;
}
footer {
  color: #15CDCA;
  font-size: 125%;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding-bottom: 2px;
}
h3 {
  color: #15CDCA;
  font-size: 150%;
}
p {
  font-size: 100%;
}
a {
  color: #000000;
}
img {
  border: 20px #15CDCA;
  padding: 10px;
}
label {
  color: #000000;
}
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
}

/* Side navigation links */
.sidenav a {
  color: #4F80E2;
  padding: 16px;
  text-decoration: none;
  display: block;
}
/* Change color on hover */
.sidenav a:hover {
  background-color: #FFFFFF;
  color: #15CDCA;
}

/* Style the content */
.content {
  padding-top: 50px;
  margin-left: 200px;
  padding-left: 20px;
}