doctype html
html
    head
        script(src='../src/plotly-latest.min.js')
        title=title
        link(rel='stylesheet', href='../stylesheets/style.css')
        meta(name='viewport', content='width=device-width, initial-scale=1')

    body
        h1 Cold Chain Tracking
        .sidenav
            a(href='/') Home
            a(href='/test') Test
            a(href='/register') Register
            a(href='/login') Login
            a(href='/error') Error
        block content
    footer= authors