extends layout
block content
    div(id='plot')
    script.
        function plotter(dataIn) {
            plot = document.getElementById('plot');
            var data = [{
                type: "scattermapbox",
				customdata: "#{temp1}",
                customdata: "#{temp2}",
				lon: "#{lon}",
				lat: "#{lat}",
                hoverinfo: "all",
				marker: { cmin: 32, cmax: 100, size: 4, colorscale: 'Rdbu'}
            }];  
            var layout = {
                coloraxis: {colorscale: "Rdbu"}, 
                title: {text: "Temperature Points in Transportation"}
                dragmode: "zoom",
                mapbox: { style: "open-street-map", center: { lat: 38, lon: -90 }, zoom: 3 },
                margin: { r: 0, t: 0, b: 0, l: 0 }
            };
            Plotly.newPlot(plot, data, layout);
        }
        plotter();
